@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ArticulatBold";
  src: url("./assets/fonts/Fontspring-DEMO-articulatcf-extrabold-BF64a38d8b06d4e.otf");
}
@font-face {
  font-family: "ArticulatThin";
  src: url("./assets/fonts/Fontspring-DEMO-articulatcf-normal-BF64a38d8b0cbaf.otf");
}
@font-face {
  font-family: "ArticulatMeduim";
  src: url("./assets/fonts/ArticualtMeduim.otf");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}